@model Churras.Web.Models.Churrascos.CriarViewModel

<p>
    @Html.ActionLink("< Voltar", "Index")
</p>

<h3 class="text-center">
    Novo Churrasco
</h3>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="form-group row justify-content-center">
            @Html.LabelFor(model => model.Churrasco.Quando, htmlAttributes: new { @class = "col-form-label col-sm-4 col-md-3 col-lg-2 text-xs-left text-sm-right" })
            <div class="col-sm-8 col-md-7 col-lg-5">
                @Html.EditorFor(model => model.Churrasco.Quando, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control ignore", @type = "text"} })
            </div>
        </div>
        <div class="form-group row justify-content-center">
            @Html.LabelFor(model => model.Churrasco.Porque, htmlAttributes: new { @class = "col-form-label col-sm-4 col-md-3 col-lg-2 text-xs-left text-sm-right" })
            <div class="col-sm-8 col-md-7 col-lg-5">
                @Html.EditorFor(model => model.Churrasco.Porque, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Churrasco.Porque, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row justify-content-center">
            @Html.LabelFor(model => model.Churrasco.Obs, htmlAttributes: new { @class = "col-form-label col-sm-4 col-md-3 col-lg-2 text-xs-left text-sm-right" })
            <div class="col-sm-8 col-md-7 col-lg-5">
                <textarea class="form-control" id="Churrasco.Obs" name="Churrasco.Obs" rows="5" required></textarea>
                @Html.ValidationMessageFor(model => model.Churrasco.Obs, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 col-lg-2 text-xs-left text-sm-right">
                Contribuição Sugerida:
            </div>
            <div class="col-sm-8 col-md-7 col-lg-5">
                <div class="form-group row justify-content-center">
                    @Html.LabelFor(model => model.Churrasco.ValorSemBebida, htmlAttributes: new { @class = "col-form-label col-sm-6 text-xs-left text-sm-right" })
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.Churrasco.ValorSemBebida, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Churrasco.ValorSemBebida, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    @Html.LabelFor(model => model.Churrasco.ValorComBebida, htmlAttributes: new { @class = "col-form-label col-sm-6 text-xs-left text-sm-right" })
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.Churrasco.ValorComBebida, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Churrasco.ValorComBebida, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <input type="submit" value="Criar Churrasco" class="btn btn-primary" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#Churrasco_Quando").datepicker({
                dateFormat: "dd/mm/yy",
                defaultDate: new Date()
            }).datepicker("setDate", new Date());

            // Workaround to enable Brazilian format on DatePicker with Unobstrusive Jquery Validation
            var settings = $.data($('form')[0], 'validator').settings;
            settings.ignore = ".ignore";
        });
    </script>
}
